/* Resetting default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black; /* Чёрный фон на весь сайт */
    color: white; /* Белый текст для контраста */
}

header {
    text-align: center;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    height: 450px; /* Высота контейнера */
    background: url('../sprites/MainBackground.png') no-repeat center center;
    background-size: cover; /* Растягиваем картинку по всему фону */
}

.container h1 {
    font-size: 3em;
    color: white;
    padding: 20px;
}

#about {
    text-align: center;
    padding: 100px 300px;
}

#about h2 {
    font-size: 3.5em;
    margin-bottom: 40px;
}

#about p {
    font-size: 1.6em;
    line-height: 1.6;
    margin-bottom: 20px;
}

#logo {
    text-align: center;
    padding: 40px 0;
}

#logo img {
    width: 250px;
    height: auto;
}